{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Об авторе</h1>
<p>
  Над проектом <span style="color:red">Ya</span><b>tube</b> работал Константин Трохимец. </br>
  <a href="https://github.com/Trohimets/">
  Ссылка
  </a>  на <b>GitHub</b> автора. </br>
Это один из первых моих проектов в мире программирования
и бекэнда, так что не судите строго.</br>
Кроме того, помогали:</br> 
<ul>
<li>Андрей Ерёменко</li>
  <li>Максим Юркин</li>
  <li>Эльвир Давлетгареев</li>
  <li>Асат Рашидов</li>
  <li>и др.</li>
</ul> 
Наставник - Андрей Беренда.</br>
</p>
{% endblock %} 