{% extends 'base.html' %}
{% load thumbnail %}
  {% block title %}
    Yatube {{ group.title }}
  {% endblock %}
    {% block content %}
        <div class="container py-5">
          <div class="container py-5">  
            <h1>{{ group.title }}</h1>
              <p>{{ group.description }}</p>
                {% for post in page_obj %}
                      <div class="row">
                            <div class="col-6 col-md-3">
                              {% thumbnail post.image "640x640" crop="center" upscale=True as im %}
                                <img class="card-img my-2" src="{{ im.url }}">
                              {% endthumbnail %}
                            </div>
                          <div class="col-6 col-md-9">  
                          <p>{{ post.text }}</p>
                          </div>
                      </div>
                      <ul>
                        <li>
                          Автор: {{ post.author.get_full_name }}
                        </li>
                        <li>
                          Дата публикации: {{ post.pub_date|date:"d E Y" }}
                        </li>
                      </ul>
                      {% if not forloop.last %}<hr>{% endif %}
                {% endfor %} 
              {% include 'posts/includes/paginator.html' %}
        </div> 
    {% endblock %}            